<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prog.quick.matt.quickprog" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateProjectActivity"
            android:parentActivityName=".activities.MainActivity"></activity>
        <activity android:name=".activities.ProjectDetailActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop"/>
        <provider
            android:authorities="com.prog.quick.matt.quickprog"
            android:name=".data.ProjectContentProvider"
            android:exported="true"/>
        <receiver android:name="ProjectsWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info"/>
        </receiver>
        <service android:name=".services.ProjectsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
    </application>

</manifest>
